#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  outline: none;
  border: none;
  border-radius: 999px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  background: #28e0b9;
  color: #313131;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 4%);
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.App {
  display: flex;
  gap: 4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content:baseline;
  align-items: center;
}

.header .titleText {
 margin-left: 20px;
}

.kyber {
  margin-left: 0px;
}